<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Agile</h3>

                    <p>
                        I like what agile has done to the world of software development. Now we take sensibly sized peices of work deal with needed changes as they come up.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Small Business </h3>

                    <p>
                        I love small business.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Interactively incubate</h3>

                    <p>
                        Interactively myocardinate high standards in initiatives rather than next-generation.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Giving back</h3>

                    <p>
                        I give back by tutoring elementary school kids and helping local charities. </p>
                </div>
            </div>

        </div>


    </div>
</section>