<div id="main-wrapper">
    <div id="preloader">
        <div id="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <div class="columns-block container">
        <div class="left-col-block blocks">
            <app-side></app-side>
        </div>
        <div class="right-col-block blocks">
            <div class="theiaStickySidebar">
                <app-about-me></app-about-me>
                <app-skills></app-skills>
                <app-education></app-education>
                <app-work-history></app-work-history>
            </div>
        </div>
    </div>
</div>