<header class="header theiaStickySidebar">
    <!-- <div class="profile-img">
        <img src="assets/img/img-profile.jpg" class="img-responsive" alt="" />
    </div> -->
    <div class="content">
        <h1>Leon Weiß</h1>
        <span class="lead">Marketing Consultant</span>

        <div class="about-text">
            <p>
                Credibly embrace visionary internal or "organic" sources and business benefits. Collaboratively integrate efficient portals rather than customized customer service. Assertively deliver frictionless services via leveraged interfaces. Conveniently evisculate
                accurate sources and process-centric expertise.
            </p>

            <p>Energistically fabricate customized imperatives through cooperative catalysts for change.</p>


            <p><img src="assets/img/signature.png" alt="" class="img-responsive" /></p>
        </div>


        <ul class="social-icon">
            <li>
                <a href="#">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faSlack"></fa-icon>
                </a>
            </li>
            <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
    </div>

</header>