<header class="header theiaStickySidebar">
    <!-- <div class="profile-img">
        <img src="assets/img/img-profile.jpg" class="img-responsive" alt="" />
    </div> -->
    <div class="content">
        <h1>Phil Lachmann</h1>
        <span class="lead">Full Stack Web Developer</span>

        <div class="about-text">
            <p>
                I'm a common sense IT professional.
            </p>

            <p>I like getting stuff done.</p>


            <!-- <p><img src="assets/img/signature.png" alt="" class="img-responsive" /></p> -->
        </div>


        <ul class="social-icon">
            <li>
                <a href="#">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon [icon]="faSlack"></fa-icon>
                </a>
            </li>
        </ul>
    </div>

</header>